body{
background-image: url(..\\images\\Background.jpg)
}

section {
  display: flex;
}

nav {
  flex: 1;
  padding: 20px;
}

article {
  flex: 5;
  padding: 10px;
}

.table {
  display: flex;
}

.tableItem {
  flex: 5;
  padding: 10px;
}

h1 {
  font-size: 70px;
  color: red;
  background-color: lightblue;
  border-left: 20px solid blue;
  border-right: 20px ridge coral;
  border-top: 20px inset lightgreen;
  border-bottom: 20px outset cyan;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-size: 50px;
  color: green;
  border: 12px outset rgba(0, 140, 255, 0.849);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul,
ol {
  list-style-position: inside;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }
}

strong {
  font-size: 25px;
}
