body { 
}
div{
  background-color: white;
}
article {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  /*background-color: #f1f1f1;*/
  padding: 10px;
}
section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*background: #ccc ;*/
  padding: 20px;
}
h1 {
  font-size:70px;
  color:red;
  background-color: lightblue;
  border-left: 20px solid blue;
  border-right: 20px ridge coral;
  border-top: 20px inset lightgreen;
  border-bottom: 20px outset cyan;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 50px;
    color: green;
    border: 12px outset red;
    text-align: center;
   font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}
ul, ol{
  list-style-position: inside;
}
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  } 
  strong {
    font-size: 25px;
  }
